<html>
<head>
	<title>Mastermind</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	
	<div class="col-md-12">
		
		<div class="col-md-4"></div>

		<div class="col-md-4">
			<div class="page-header">
				<h2>One or two players?</h2>
			</div>
			<form method="post" action="/guess">
				<input type="submit" value="One Player" name="onePlayer" class="btn btn-lg btn-default">
				<input type="submit" value="Two Players" name="twoPlayers" class="btn btn-lg btn-default">
			</form>
			<hr/>
		</div>


		<div class="col-md-4"></div>

	</div>
</body>
</html>